<template name="popupWindows_unlockMasterPassword">
    <div class="popup-windows">
        <form action="#">
            <h1>{{i18n "mist.popupWindows.unlockMasterPassword.title"}}</h1>
                                
            <input type="password" placeholder="{{i18n 'mist.popupWindows.unlockMasterPassword.enterPassword'}}" class="password">
            
            <div class="dapp-modal-buttons">
                <button class="cancel" type="button">{{i18n "buttons.cancel"}}</button>
                <button class="ok dapp-primary-button" type="submit">{{i18n "buttons.ok"}}</button>
            </div>
        </form>
    </div>
</template>